* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Kanit', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: fit-content(300px) auto;
}

.controller {
    display: grid;
    grid-template-columns: fit-content(500px) auto;
    justify-content: start;
    gap: 130px;
    margin: 15px;
}

.controlButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 5px;
    font-size: 40px;
    width: 100%;
}

h1 {
    position: relative;
    font-size: 4rem;
}

.controlButtons>button {
    flex: 1;
    color: #001CFF;
    line-height: 19px;
    font-size: 0.5em;
    padding: 13px;
    border-radius: 10px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(97, 164, 9) 0%, rgb(91, 203, 82) 50%, rgb(0, 117, 25) 100%);
    box-shadow: rgba(0, 0, 0, 0) -100px -100px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.controlButtons>button:hover {
    background: #61A409;
}

.controlButtons>button:active {
    background: #007519;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3,150px);
    justify-self: center;
    align-self: center;
    margin: 35px;
    padding: 10px;
    border: 3px ridge #5D4844;
}

.restart {
    width: 200px;
    height: 50px;
    color:brown;
    font-size: 1.4rem;
    line-height: 19px;
    padding: 13px;
    border-radius: 10px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(97, 164, 9) 0%, rgb(91, 203, 82) 50%, rgb(0, 117, 25) 100%);
    box-shadow: rgba(0, 0, 0, 0) -100px -100px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    justify-self: center;
}

.restart:hover {
    background: #61A409;
}

.restart:active {
    background: #007519;
}

.cell {
    background-color: white;
    outline: none !important;
    border: 3px solid black;
    color: black;
    font-size: xx-large;
}

.cell:nth-child(2),
.cell:nth-child(1),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(4),
.cell:nth-child(1),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(6),
.cell:nth-child(3),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(8),
.cell:nth-child(7),
.cell:nth-child(9) {
    border-bottom: none;
}

.winnerMessage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: white;
    font-size: 50px;
}

@media screen and (max-width: 680px) {
    h1{
        font-size: 3rem;
    }
    .controlButtons{
        font-size: 2rem;
    }
    .controlButtons>button{
        padding: 7px;
    }
    .gameboard{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3,100px);
    }
    .controller{
        gap: 70px;
    }
}

@media screen and (max-width: 548px) {
    .controller{
        gap: 20px;
    }
    h1{
        font-size: 30px;
    }
    .controlButtons{
        font-size: 1rem;
    }
    .controlButtons>button{
        padding: 3px;
        font-size: .7em;
        height: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .gameboard{
        grid-template-columns: repeat(3, 70px);
        grid-template-rows: repeat(3,70px);
    }
}